* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 10px 0px 20px;
}

.cabeca-mario {
  width: 80px;
}
.navegacao a {
  text-decoration: none;
  margin: 0px 10px;
  color: white;
}

.navegacao a:hover {
  color: rgb(255, 105, 105);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}
.logo-super {
  width: 350px;
}
.sobre-mario p {
  font-size: 18px;
  width: 600px;
  margin-top: 5px;
  color: white;
}
.irmaos {
  width: 400px;
}

.btn {
  background-color: rgb(180, 52, 52);
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: brown;
}

.video-mario {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-mario video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mascara-video {
  background: linear-gradient(
    109deg,
    rgba(87, 87, 88, 0.99) 15%,
    rgba(59, 62, 66, 0.7) 50%,
    rgba(56, 59, 65, 0.99) 85%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
}

.link-wts img {
  width: 60px;
}

.wts {
  position: fixed;
  bottom: 15px;
  right: 17px;
}
.link-wts {
  cursor: pointer;
}
.formulario {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: -22%;
  /*  
  z-index: 1;
  transform: translate(-50%, -50%); */
  background-color: rgb(255, 255, 255);
  padding: 20px 30px;
  border-radius: 10px;
  pointer-events: auto;
  transition: 0.9s left ease-in-out;
}
.formulario h2 {
  margin-bottom: 15px;
  color: rgb(180, 52, 52);
}
.formulario label {
  margin-bottom: 5px;
  font-weight: bold;
}
.formulario input,
.formulario textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario button {
  background-color: rgb(180, 52, 52);
  border: none;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.mascara-form {
  background: linear-gradient(
    109deg,
    rgb(75 71 71 / 99%) 15%,
    rgb(65 65 65 / 70%) 50%,
    rgb(49 33 33 / 99%) 85%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.9s opacity ease-in-out;
  visibility: hidden;
}
